@charset "utf-8";
/* CSS Document */


html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, button, dl, dt, dd, select, input, textarea {margin: 0; padding:0}
body{font-size:18px;font-family: "faricy-new-web","微软雅黑"helvetica,sans-serif;font-weight: 300;color: #FFF;}
img{border:none;}
ul{list-style:none;}
input,select,textarea{outline:none;border:none;}
textarea{resize:none;}
a{text-decoration:none; color:#FFF;}
/*清浮动*/
.clearfix:after{content:"" ;display:block; clear:both; }


.fl{float:left;}
.fr{float:right;}


